<section class="container">
  <section class="row">
    <div class="col-3" id="poke-list">
      <!-- <h4 class="p-3 rounded border border-bottom-2 border-secondary selectable">Pokemon Name</h4> -->
    </div>
    <div class="col-6" id="active-card">
      <!-- <div class="p-3 card d-flex justify-content-center">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png"
          alt="picture of ivysaur" class="">
        <h2 class="card-title p-3 text-uppercase text-center pb-0 mb-0">ivysaur</h2>
        <hr>
        <span class="text-center">
          <p class="d-inline-block fw-bold m-auto">24</p> |
          <p class="d-inline-block fw-bold m-auto">200</p>
        </span>
        <hr>
        <h3 class="text-center">🌱 💦 🪨</h3>
      </div> -->

    </div>
    <div class="col-3" id="my-pokemons">
      <h4 class="p-3 rounded border border-bottom-2 border-secondary selectable">My Pokemons</h4>
    </div>

  </section>
</section>